<a href="https://colab.research.google.com/github/BrunoMorastoni/Curso-Basico-Pandas-Py/blob/main/Aula_4_09_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Exemplo de manipulação de dados usando o Panda Py***
Veremos: Inserção de dados, remoção de colunas, merge, gráficos.

Autor: Bruno Giuseppe Morastoni

Data: (09/02/23)



---

*Importando a biblioteca pandas*

In [1]:
import pandas as pd

*Importando o Excel com pd.read_excel("arquivo")*

In [3]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

*Inserção de dados*

In [ ]:
combustiveis_df['Ativo'] = True
display(combustiveis_df.head())

*Criar uma coluna chamada "Obs" escrito "MELHOR CIDADE" quando a coluna Municipio for BLUMENAU-SC*

In [ ]:
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'BLUMENAU' else None for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['BLUMENAU','INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

*Calcular postos de gasolina por habitante na amostragem*

In [ ]:
ibge_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep =';')
ibge_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(ibge_df)

*Fazendo um Merge dos dois dataframes*

In [ ]:
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(ibge_df, how='inner', on=colunas)
display(merge_df)

In [ ]:
# Infos do merge_df #
merge_df.info()

*Apagando colunas vazias*

In [58]:
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(4)
memory usage: 967.2+ KB
None

In [63]:
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(ibge_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,None,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,None,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,None,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,None,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,None,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,None,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,None,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,None,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,None,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,None,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     20634 non-null  object
 1   Estado - Sigla     20634 non-null  object
 2   Municipio          20634 non-null  object
 3   Revenda            20634 non-null  object
 4   CNPJ da Revenda    20634 non-null  object
 5   Nome da Rua        20634 non-null  object
 6   Numero Rua         20634 non-null  object
 7   Complemento        3837 non-null   object
 8   Bairro             20634 non-null  object
 9   Cep                20634 non-null  object
 10  Produto            20634 non-null  object
 11  Data da Coleta     20634 non-null  datetime64[ns]
 12  Valor de Venda     20634 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  20634 non-null  object
 15  Bandeira           20634 non-null  object
 16  Ativo              20634 non-null  bool
 17  Obs                0 non-null      object
 18  NumHabitantes2021  20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(14)
memory usage: 3.0+ MB
None

In [64]:
colunas = ['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda','Unidade de Medida', 'Bandeira', 'Ativo']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   Complemento        3837 non-null   object
 5   Valor de Compra    0 non-null      float64
 6   Obs                0 non-null      object
 7   NumHabitantes2021  20634 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ MB
None

*Removendo Linhas duplicadas*

In [69]:
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(ibge_df, how="inner", on=colunas)

display(merge_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,None,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,None,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,None,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,None,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,None,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,None,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,None,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,None,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,None,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,None,260690

Warning: total number of rows (20634) exceeds max_rows (20000). Limiting to first (20000) rows.

*Agrupando e contando a quantidade de postos na cidade*

In [70]:
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()

postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)

postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)

display(postos_por_municipio_df)

                                                 Regiao - Sigla  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       1090
GO             GOIANIA        1555626                      1667
MG             BELO HORIZONTE 2530701                       827
MS             CAMPO GRANDE   916001                       1606
PR             CURITIBA       1963726                      1291
RJ             RIO DE JANEIRO 6775561                      2445
RN             NATAL          803739                       1093
RO             PORTO VELHO    548952                        805
RS             PORTO ALEGRE   1492530                      1142
SP             CAMPINAS       1223237                      1605
               INDAIATUBA     260690                        562
               SANTOS         433991                        459
               SAO PAULO      12396372                     5220
               SAO VICENTE    370839                        453
TO             PALMAS         313349                        369

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                         1090
GO             GOIANIA        1555626                        1667
MG             BELO HORIZONTE 2530701                         827
MS             CAMPO GRANDE   916001                         1606
PR             CURITIBA       1963726                        1291
RJ             RIO DE JANEIRO 6775561                        2445
RN             NATAL          803739                         1093
RO             PORTO VELHO    548952                          805
RS             PORTO ALEGRE   1492530                        1142
SP             CAMPINAS       1223237                        1605
               INDAIATUBA     260690                          562
               SANTOS         433991                          459
               SAO PAULO      12396372                       5220
               SAO VICENTE    370839                          453
TO             PALMAS         313349                          369

                                                 Nome da Rua  Numero Rua  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                    1090        1090
GO             GOIANIA        1555626                   1667        1667
MG             BELO HORIZONTE 2530701                    827         827
MS             CAMPO GRANDE   916001                    1606        1606
PR             CURITIBA       1963726                   1291        1291
RJ             RIO DE JANEIRO 6775561                   2445        2445
RN             NATAL          803739                    1093        1093
RO             PORTO VELHO    548952                     805         805
RS             PORTO ALEGRE   1492530                   1142        1142
SP             CAMPINAS       1223237                   1605        1605
               INDAIATUBA     260690                     562         562
               SANTOS         433991                     459         459
               SAO PAULO      12396372                  5220        5220
               SAO VICENTE    370839                     453         453
TO             PALMAS         313349                     369         369

                                                 Complemento  Bairro   Cep  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                     198    1090  1090
GO             GOIANIA        1555626                   1369    1667  1667
MG             BELO HORIZONTE 2530701                     32     827   827
MS             CAMPO GRANDE   916001                     170    1606  1606
PR             CURITIBA       1963726                    149    1291  1291
RJ             RIO DE JANEIRO 6775561                    375    2445  2445
RN             NATAL          803739                     270    1093  1093
RO             PORTO VELHO    548952                      28     805   805
RS             PORTO ALEGRE   1492530                    126    1142  1142
SP             CAMPINAS       1223237                    340    1605  1605
               INDAIATUBA     260690                      51     562   562
               SANTOS         433991                      59     459   459
               SAO PAULO      12396372                   384    5220  5220
               SAO VICENTE    370839                      12     453   453
TO             PALMAS         313349                     274     369   369

                                                 Produto  Data da Coleta  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                1090            1090
GO             GOIANIA        1555626               1667            1667
MG             BELO HORIZONTE 2530701                827             827
MS             CAMPO GRANDE   916001                1606            1606
PR             CURITIBA       1963726               1291            1291
RJ             RIO DE JANEIRO 6775561               2445            2445
RN             NATAL          803739                1093            1093
RO             PORTO VELHO    548952                 805             805
RS             PORTO ALEGRE   1492530               1142            1142
SP             CAMPINAS       1223237               1605            1605
               INDAIATUBA     260690                 562             562
               SANTOS         433991                 459             459
               SAO PAULO      12396372              5220            5220
               SAO VICENTE    370839                 453             453
TO             PALMAS         313349                 369             369

                                                 Valor de Venda  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       1090
GO             GOIANIA        1555626                      1667
MG             BELO HORIZONTE 2530701                       827
MS             CAMPO GRANDE   916001                       1606
PR             CURITIBA       1963726                      1291
RJ             RIO DE JANEIRO 6775561                      2445
RN             NATAL          803739                       1093
RO             PORTO VELHO    548952                        805
RS             PORTO ALEGRE   1492530                      1142
SP             CAMPINAS       1223237                      1605
               INDAIATUBA     260690                        562
               SANTOS         433991                        459
               SAO PAULO      12396372                     5220
               SAO VICENTE    370839                        453
TO             PALMAS         313349                        369

                                                 Valor de Compra  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           0
GO             GOIANIA        1555626                          0
MG             BELO HORIZONTE 2530701                          0
MS             CAMPO GRANDE   916001                           0
PR             CURITIBA       1963726                          0
RJ             RIO DE JANEIRO 6775561                          0
RN             NATAL          803739                           0
RO             PORTO VELHO    548952                           0
RS             PORTO ALEGRE   1492530                          0
SP             CAMPINAS       1223237                          0
               INDAIATUBA     260690                           0
               SANTOS         433991                           0
               SAO PAULO      12396372                         0
               SAO VICENTE    370839                           0
TO             PALMAS         313349                           0

                                                 Unidade de Medida  Bandeira  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                          1090      1090
GO             GOIANIA        1555626                         1667      1667
MG             BELO HORIZONTE 2530701                          827       827
MS             CAMPO GRANDE   916001                          1606      1606
PR             CURITIBA       1963726                         1291      1291
RJ             RIO DE JANEIRO 6775561                         2445      2445
RN             NATAL          803739                          1093      1093
RO             PORTO VELHO    548952                           805       805
RS             PORTO ALEGRE   1492530                         1142      1142
SP             CAMPINAS       1223237                         1605      1605
               INDAIATUBA     260690                           562       562
               SANTOS         433991                           459       459
               SAO PAULO      12396372                        5220      5220
               SAO VICENTE    370839                           453       453
TO             PALMAS         313349                           369       369

                                                 Ativo  Obs
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452              1090    0
GO             GOIANIA        1555626             1667    0
MG             BELO HORIZONTE 2530701              827    0
MS             CAMPO GRANDE   916001              1606    0
PR             CURITIBA       1963726             1291    0
RJ             RIO DE JANEIRO 6775561             2445    0
RN             NATAL          803739              1093    0
RO             PORTO VELHO    548952               805    0
RS             PORTO ALEGRE   1492530             1142    0
SP             CAMPINAS       1223237             1605    0
               INDAIATUBA     260690               562    0
               SANTOS         433991               459    0
               SAO PAULO      12396372            5220    0
               SAO VICENTE    370839               453    0
TO             PALMAS         313349               369    0