<a href="https://colab.research.google.com/github/BrunoMorastoni/Curso-Basico-Pandas-Py/blob/main/Aula08_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Exemplo de manipulação de dados usando o Panda Py***

Autor: Bruno Giuseppe Morastoni

Data: (06/02/23)

Dados usados: [1º semestre de 2022](https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsas/ca/precos-semestrais-ca.zip)

In [1]:
import pandas as pd

In [3]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
# Meio feio # [Imprime a planilha] #
print(combustiveis_df)

In [ ]:
# Mais bonitinho # [Imprime a planilha / só q mais bonito] #
display(combustiveis_df)

In [ ]:
# Exibição das x primeiras linhas # # display(combustiveis_df.head(x))
display(combustiveis_df.head(5))

In [ ]:
# Cmd Dataframe.shape # [Apenas Nº de linhas e colunas / respectivamentes] #
display(combustiveis_df.shape)
display(combustiveis_df.shape[0])
display(combustiveis_df.shape[1])

In [ ]:
# Cmd Dataframe.describe() # [Mostra estástisticas básicas] #
display(combustiveis_df.describe())

In [ ]:
# Cmd Dataframe.info() # [Mostra as colunas e os tipos de dados] #
display(combustiveis_df.info())

# ***Começando a Filtrar as infos:***

In [4]:
# Filtrando apenas uma coluna #
display(combustiveis_df['Revenda'])

0                               POSTO ARAPIRACA LTDA
1                               POSTO ARAPIRACA LTDA
2                               POSTO ARAPIRACA LTDA
3                               POSTO ARAPIRACA LTDA
4                               POSTO ARAPIRACA LTDA
                             ...
168404    COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405             ABC DISTRIBUICAO DE PETROLEO LTDA
168406             ABC DISTRIBUICAO DE PETROLEO LTDA
168407             ABC DISTRIBUICAO DE PETROLEO LTDA
168408             ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, Length: 168409, dtype: object

In [6]:
# Novo datadrame com colunas delimitadas *
ca_df = combustiveis_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]

display(ca_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649
...,...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,ETANOL,5.859
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ETANOL,4.740
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,DIESEL S10,5.448
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA ADITIVADA,6.580

In [ ]:
# Exibição da 4ª linha com o loc #
display(ca_df.loc[3])

In [ ]:
# Exibição da 10ª linha té a 20ª linha #
display(ca_df.loc[9:19])

In [7]:
# Criação de um novo Dataframe gas_df contendo 4 colunas [Revenda, Municipio, Produto, Valor de Venda], somente com GASOLINA #
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

display(gas_df['Valor de Venda'].max(),'É o maior valor') # Filtro para o maior valor

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

7.999

'É o maior valor'

In [12]:
# Dataframe.loc[] com múltiplas condições para filtragem, quais são os preços de ETANOL na minha cidade BLUMENAU-SC #
etan_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'BLUMENAU')]
display(etan_df)

                                  Revenda Municipio Produto  Valor de Venda
10771           POSTO VILA GERMANICA LTDA  BLUMENAU  ETANOL           5.699
10780                POSTO FORTALEZA LTDA  BLUMENAU  ETANOL           6.199
10785                     POSTO Z 17 LTDA  BLUMENAU  ETANOL           6.299
10790                   AUTO POSTO 7 LTDA  BLUMENAU  ETANOL           5.797
10794      POSTO DE GASOLINA MORETTO LTDA  BLUMENAU  ETANOL           5.695
...                                   ...       ...     ...             ...
163237      POSTO DE SERVICOS BR BLU LTDA  BLUMENAU  ETANOL           5.995
163240  L&E COMERCIO DE COMBUSTIVEIS LTDA  BLUMENAU  ETANOL           5.899
164372        IZIDORO COMBUSTIVEIS EIRELI  BLUMENAU  ETANOL           5.769
165821                     POSTO Z16 LTDA  BLUMENAU  ETANOL           5.999
166300         AUTO POSTO DON JUAN EIRELI  BLUMENAU  ETANOL           5.999

[120 rows x 4 columns]

In [ ]:
# etan_df com o menor valor até o maior#
etan_df.sort_values(by = 'Valor de Venda', inplace=True)
display(etan_df)

In [77]:
# Qual a média de preços dos combustíveis GASOLINA e GASOLINA ADITIVADA do bairo ITOUPAVA CENTRAL em BLUMENAU #
itoupava_df = combustiveis_df.loc[(combustiveis_df['Bairro'] == 'ITOUPAVA CENTRAL')]

media_df = itoupava_df.loc[(combustiveis_df['Produto'] == 'GASOLINA ADITIVADA') | (combustiveis_df['Produto'] == 'GASOLINA')]

display(media_df.mean(axis='index'))

<ipython-input-77-66d9c4e10538>:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  display(media_df.mean(axis='index'))
<ipython-input-77-66d9c4e10538>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(media_df.mean(axis='index'))

Numero Rua         4006.962963
Valor de Venda        6.610111
Valor de Compra            NaN
dtype: float64

display(media_df.mean(axis='index'))